<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>_4stringTabClef</key>
  <string>_4stringT_abC_lef.glif</string>
  <key>_6stringTabClef</key>
  <string>_6stringT_abC_lef.glif</string>
  <key>accidentalArrowDown</key>
  <string>accidentalA_rrowD_own.glif</string>
  <key>accidentalArrowUp</key>
  <string>accidentalA_rrowU_p.glif</string>
  <key>accidentalBakiyeFlat</key>
  <string>accidentalB_akiyeF_lat.glif</string>
  <key>accidentalBracketLeft</key>
  <string>accidentalB_racketL_eft.glif</string>
  <key>accidentalBracketRight</key>
  <string>accidentalB_racketR_ight.glif</string>
  <key>accidentalBuyukMucennebFlat</key>
  <string>accidentalB_uyukM_ucennebF_lat.glif</string>
  <key>accidentalBuyukMucennebSharp</key>
  <string>accidentalB_uyukM_ucennebS_harp.glif</string>
  <key>accidentalDoubleFlat</key>
  <string>accidentalD_oubleF_lat.glif</string>
  <key>accidentalDoubleSharp</key>
  <string>accidentalD_oubleS_harp.glif</string>
  <key>accidentalFiveQuarterTonesFlatArrowDown</key>
  <string>accidentalF_iveQ_uarterT_onesF_latA_rrowD_own.glif</string>
  <key>accidentalFiveQuarterTonesSharpArrowUp</key>
  <string>accidentalF_iveQ_uarterT_onesS_harpA_rrowU_p.glif</string>
  <key>accidentalFlat</key>
  <string>accidentalF_lat.glif</string>
  <key>accidentalKucukMucennebSharp</key>
  <string>accidentalK_ucukM_ucennebS_harp.glif</string>
  <key>accidentalNarrowReversedFlat</key>
  <string>accidentalN_arrowR_eversedF_lat.glif</string>
  <key>accidentalNarrowReversedFlatAndFlat</key>
  <string>accidentalN_arrowR_eversedF_latA_ndF_lat.glif</string>
  <key>accidentalNatural</key>
  <string>accidentalN_atural.glif</string>
  <key>accidentalNaturalFlat</key>
  <string>accidentalN_aturalF_lat.glif</string>
  <key>accidentalNaturalSharp</key>
  <string>accidentalN_aturalS_harp.glif</string>
  <key>accidentalParensLeft</key>
  <string>accidentalP_arensL_eft.glif</string>
  <key>accidentalParensRight</key>
  <string>accidentalP_arensR_ight.glif</string>
  <key>accidentalQuarterToneFlatArrowUp</key>
  <string>accidentalQ_uarterT_oneF_latA_rrowU_p.glif</string>
  <key>accidentalQuarterToneFlatNaturalArrowDown</key>
  <string>accidentalQ_uarterT_oneF_latN_aturalA_rrowD_own.glif</string>
  <key>accidentalQuarterToneFlatStein</key>
  <string>accidentalQ_uarterT_oneF_latS_tein.glif</string>
  <key>accidentalQuarterToneSharpArrowDown</key>
  <string>accidentalQ_uarterT_oneS_harpA_rrowD_own.glif</string>
  <key>accidentalQuarterToneSharpNaturalArrowUp</key>
  <string>accidentalQ_uarterT_oneS_harpN_aturalA_rrowU_p.glif</string>
  <key>accidentalQuarterToneSharpStein</key>
  <string>accidentalQ_uarterT_oneS_harpS_tein.glif</string>
  <key>accidentalSharp</key>
  <string>accidentalS_harp.glif</string>
  <key>accidentalSharpSharp</key>
  <string>accidentalS_harpS_harp.glif</string>
  <key>accidentalThreeQuarterTonesFlatArrowDown</key>
  <string>accidentalT_hreeQ_uarterT_onesF_latA_rrowD_own.glif</string>
  <key>accidentalThreeQuarterTonesFlatArrowUp</key>
  <string>accidentalT_hreeQ_uarterT_onesF_latA_rrowU_p.glif</string>
  <key>accidentalThreeQuarterTonesFlatZimmermann</key>
  <string>accidentalT_hreeQ_uarterT_onesF_latZ_immermann.glif</string>
  <key>accidentalThreeQuarterTonesSharpArrowDown</key>
  <string>accidentalT_hreeQ_uarterT_onesS_harpA_rrowD_own.glif</string>
  <key>accidentalThreeQuarterTonesSharpArrowUp</key>
  <string>accidentalT_hreeQ_uarterT_onesS_harpA_rrowU_p.glif</string>
  <key>accidentalThreeQuarterTonesSharpStein</key>
  <string>accidentalT_hreeQ_uarterT_onesS_harpS_tein.glif</string>
  <key>accidentalTripleFlat</key>
  <string>accidentalT_ripleF_lat.glif</string>
  <key>accidentalTripleSharp</key>
  <string>accidentalT_ripleS_harp.glif</string>
  <key>articAccentAbove</key>
  <string>articA_ccentA_bove.glif</string>
  <key>articAccentBelow</key>
  <string>articA_ccentB_elow.glif</string>
  <key>articAccentStaccatoAbove</key>
  <string>articA_ccentS_taccatoA_bove.glif</string>
  <key>articAccentStaccatoBelow</key>
  <string>articA_ccentS_taccatoB_elow.glif</string>
  <key>articLaissezVibrerAbove</key>
  <string>articL_aissezV_ibrerA_bove.glif</string>
  <key>articLaissezVibrerBelow</key>
  <string>articL_aissezV_ibrerB_elow.glif</string>
  <key>articMarcatoAbove</key>
  <string>articM_arcatoA_bove.glif</string>
  <key>articMarcatoBelow</key>
  <string>articM_arcatoB_elow.glif</string>
  <key>articMarcatoStaccatoAbove</key>
  <string>articM_arcatoS_taccatoA_bove.glif</string>
  <key>articMarcatoStaccatoBelow</key>
  <string>articM_arcatoS_taccatoB_elow.glif</string>
  <key>articMarcatoTenutoAbove</key>
  <string>articM_arcatoT_enutoA_bove.glif</string>
  <key>articMarcatoTenutoBelow</key>
  <string>articM_arcatoT_enutoB_elow.glif</string>
  <key>articStaccatissimoAbove</key>
  <string>articS_taccatissimoA_bove.glif</string>
  <key>articStaccatissimoBelow</key>
  <string>articS_taccatissimoB_elow.glif</string>
  <key>articStaccatissimoWedgeAbove</key>
  <string>articS_taccatissimoW_edgeA_bove.glif</string>
  <key>articStaccatissimoWedgeBelow</key>
  <string>articS_taccatissimoW_edgeB_elow.glif</string>
  <key>articStaccatoAbove</key>
  <string>articS_taccatoA_bove.glif</string>
  <key>articStaccatoBelow</key>
  <string>articS_taccatoB_elow.glif</string>
  <key>articStressAbove</key>
  <string>articS_tressA_bove.glif</string>
  <key>articStressBelow</key>
  <string>articS_tressB_elow.glif</string>
  <key>articTenutoAbove</key>
  <string>articT_enutoA_bove.glif</string>
  <key>articTenutoAccentAbove</key>
  <string>articT_enutoA_ccentA_bove.glif</string>
  <key>articTenutoAccentBelow</key>
  <string>articT_enutoA_ccentB_elow.glif</string>
  <key>articTenutoBelow</key>
  <string>articT_enutoB_elow.glif</string>
  <key>articTenutoStaccatoAbove</key>
  <string>articT_enutoS_taccatoA_bove.glif</string>
  <key>articTenutoStaccatoBelow</key>
  <string>articT_enutoS_taccatoB_elow.glif</string>
  <key>articUnstressAbove</key>
  <string>articU_nstressA_bove.glif</string>
  <key>articUnstressBelow</key>
  <string>articU_nstressB_elow.glif</string>
  <key>augmentationDot</key>
  <string>augmentationD_ot.glif</string>
  <key>brace</key>
  <string>brace.glif</string>
  <key>bracket</key>
  <string>bracket.glif</string>
  <key>bracketBottom</key>
  <string>bracketB_ottom.glif</string>
  <key>bracketTop</key>
  <string>bracketT_op.glif</string>
  <key>brassHarmonMuteClosed</key>
  <string>brassH_armonM_uteC_losed.glif</string>
  <key>brassHarmonMuteStemHalfLeft</key>
  <string>brassH_armonM_uteS_temH_alfL_eft.glif</string>
  <key>brassHarmonMuteStemHalfRight</key>
  <string>brassH_armonM_uteS_temH_alfR_ight.glif</string>
  <key>brassHarmonMuteStemOpen</key>
  <string>brassH_armonM_uteS_temO_pen.glif</string>
  <key>brassMuteClosed</key>
  <string>brassM_uteC_losed.glif</string>
  <key>brassMuteHalfClosed</key>
  <string>brassM_uteH_alfC_losed.glif</string>
  <key>brassMuteOpen</key>
  <string>brassM_uteO_pen.glif</string>
  <key>brassValveTrill</key>
  <string>brassV_alveT_rill.glif</string>
  <key>breathMarkComma</key>
  <string>breathM_arkC_omma.glif</string>
  <key>buzzRoll</key>
  <string>buzzR_oll.glif</string>
  <key>cClef</key>
  <string>cC_lef.glif</string>
  <key>cClef8vb</key>
  <string>cC_lef8vb.glif</string>
  <key>cClefChange</key>
  <string>cC_lefC_hange.glif</string>
  <key>caesura</key>
  <string>caesura.glif</string>
  <key>caesuraCurved</key>
  <string>caesuraC_urved.glif</string>
  <key>caesuraShort</key>
  <string>caesuraS_hort.glif</string>
  <key>caesuraSingleStroke</key>
  <string>caesuraS_ingleS_troke.glif</string>
  <key>clef15</key>
  <string>clef15.glif</string>
  <key>clef8</key>
  <string>clef8.glif</string>
  <key>coda</key>
  <string>coda.glif</string>
  <key>codaSquare</key>
  <string>codaS_quare.glif</string>
  <key>csymAugmented</key>
  <string>csymA_ugmented.glif</string>
  <key>csymDiminished</key>
  <string>csymD_iminished.glif</string>
  <key>csymHalfDiminished</key>
  <string>csymH_alfD_iminished.glif</string>
  <key>csymMajorSeventh</key>
  <string>csymM_ajorS_eventh.glif</string>
  <key>doubleLateralRollStevens</key>
  <string>doubleL_ateralR_ollS_tevens.glif</string>
  <key>dynamicCrescendoHairpin</key>
  <string>dynamicC_rescendoH_airpin.glif</string>
  <key>dynamicDiminuendoHairpin</key>
  <string>dynamicD_iminuendoH_airpin.glif</string>
  <key>dynamicFF</key>
  <string>dynamicF_F_.glif</string>
  <key>dynamicFFF</key>
  <string>dynamicF_F_F_.glif</string>
  <key>dynamicFFFF</key>
  <string>dynamicF_F_F_F_.glif</string>
  <key>dynamicFFFFF</key>
  <string>dynamicF_F_F_F_F_.glif</string>
  <key>dynamicFFFFFF</key>
  <string>dynamicF_F_F_F_F_F_.glif</string>
  <key>dynamicForte</key>
  <string>dynamicF_orte.glif</string>
  <key>dynamicFortePiano</key>
  <string>dynamicF_orteP_iano.glif</string>
  <key>dynamicForzando</key>
  <string>dynamicF_orzando.glif</string>
  <key>dynamicMF</key>
  <string>dynamicM_F_.glif</string>
  <key>dynamicMP</key>
  <string>dynamicM_P_.glif</string>
  <key>dynamicMessaDiVoce</key>
  <string>dynamicM_essaD_iV_oce.glif</string>
  <key>dynamicMezzo</key>
  <string>dynamicM_ezzo.glif</string>
  <key>dynamicNiente</key>
  <string>dynamicN_iente.glif</string>
  <key>dynamicNienteForHairpin</key>
  <string>dynamicN_ienteF_orH_airpin.glif</string>
  <key>dynamicPF</key>
  <string>dynamicP_F_.glif</string>
  <key>dynamicPP</key>
  <string>dynamicP_P_.glif</string>
  <key>dynamicPPP</key>
  <string>dynamicP_P_P_.glif</string>
  <key>dynamicPPPP</key>
  <string>dynamicP_P_P_P_.glif</string>
  <key>dynamicPPPPP</key>
  <string>dynamicP_P_P_P_P_.glif</string>
  <key>dynamicPPPPPP</key>
  <string>dynamicP_P_P_P_P_P_.glif</string>
  <key>dynamicPiano</key>
  <string>dynamicP_iano.glif</string>
  <key>dynamicRinforzando</key>
  <string>dynamicR_inforzando.glif</string>
  <key>dynamicRinforzando1</key>
  <string>dynamicR_inforzando1.glif</string>
  <key>dynamicRinforzando2</key>
  <string>dynamicR_inforzando2.glif</string>
  <key>dynamicSforzando</key>
  <string>dynamicS_forzando.glif</string>
  <key>dynamicSforzando1</key>
  <string>dynamicS_forzando1.glif</string>
  <key>dynamicSforzandoPianissimo</key>
  <string>dynamicS_forzandoP_ianissimo.glif</string>
  <key>dynamicSforzandoPiano</key>
  <string>dynamicS_forzandoP_iano.glif</string>
  <key>dynamicSforzato</key>
  <string>dynamicS_forzato.glif</string>
  <key>dynamicSforzatoFF</key>
  <string>dynamicS_forzatoF_F_.glif</string>
  <key>dynamicSforzatoPiano</key>
  <string>dynamicS_forzatoP_iano.glif</string>
  <key>dynamicZ</key>
  <string>dynamicZ_.glif</string>
  <key>fClef</key>
  <string>fC_lef.glif</string>
  <key>fClef15ma</key>
  <string>fC_lef15ma.glif</string>
  <key>fClef15mb</key>
  <string>fC_lef15mb.glif</string>
  <key>fClef8va</key>
  <string>fC_lef8va.glif</string>
  <key>fClef8vb</key>
  <string>fC_lef8vb.glif</string>
  <key>fClefChange</key>
  <string>fC_lefC_hange.glif</string>
  <key>fermataAbove</key>
  <string>fermataA_bove.glif</string>
  <key>fermataBelow</key>
  <string>fermataB_elow.glif</string>
  <key>fermataLongAbove</key>
  <string>fermataL_ongA_bove.glif</string>
  <key>fermataLongBelow</key>
  <string>fermataL_ongB_elow.glif</string>
  <key>fermataShortAbove</key>
  <string>fermataS_hortA_bove.glif</string>
  <key>fermataShortBelow</key>
  <string>fermataS_hortB_elow.glif</string>
  <key>fermataVeryLongAbove</key>
  <string>fermataV_eryL_ongA_bove.glif</string>
  <key>fermataVeryLongBelow</key>
  <string>fermataV_eryL_ongB_elow.glif</string>
  <key>fingering0</key>
  <string>fingering0.glif</string>
  <key>fingering0Italic</key>
  <string>fingering0I_talic.glif</string>
  <key>fingering1</key>
  <string>fingering1.glif</string>
  <key>fingering1Italic</key>
  <string>fingering1I_talic.glif</string>
  <key>fingering2</key>
  <string>fingering2.glif</string>
  <key>fingering2Italic</key>
  <string>fingering2I_talic.glif</string>
  <key>fingering3</key>
  <string>fingering3.glif</string>
  <key>fingering3Italic</key>
  <string>fingering3I_talic.glif</string>
  <key>fingering4</key>
  <string>fingering4.glif</string>
  <key>fingering4Italic</key>
  <string>fingering4I_talic.glif</string>
  <key>fingering5</key>
  <string>fingering5.glif</string>
  <key>fingering5Italic</key>
  <string>fingering5I_talic.glif</string>
  <key>fingering6</key>
  <string>fingering6.glif</string>
  <key>fingering6Italic</key>
  <string>fingering6I_talic.glif</string>
  <key>fingering7</key>
  <string>fingering7.glif</string>
  <key>fingering7Italic</key>
  <string>fingering7I_talic.glif</string>
  <key>fingering8</key>
  <string>fingering8.glif</string>
  <key>fingering8Italic</key>
  <string>fingering8I_talic.glif</string>
  <key>fingering9</key>
  <string>fingering9.glif</string>
  <key>fingering9Italic</key>
  <string>fingering9I_talic.glif</string>
  <key>flag1024thDown</key>
  <string>flag1024thD_own.glif</string>
  <key>flag1024thUp</key>
  <string>flag1024thU_p.glif</string>
  <key>flag128thDown</key>
  <string>flag128thD_own.glif</string>
  <key>flag128thUp</key>
  <string>flag128thU_p.glif</string>
  <key>flag16thDown</key>
  <string>flag16thD_own.glif</string>
  <key>flag16thUp</key>
  <string>flag16thU_p.glif</string>
  <key>flag256thDown</key>
  <string>flag256thD_own.glif</string>
  <key>flag256thUp</key>
  <string>flag256thU_p.glif</string>
  <key>flag32ndDown</key>
  <string>flag32ndD_own.glif</string>
  <key>flag32ndUp</key>
  <string>flag32ndU_p.glif</string>
  <key>flag512thDown</key>
  <string>flag512thD_own.glif</string>
  <key>flag512thUp</key>
  <string>flag512thU_p.glif</string>
  <key>flag64thDown</key>
  <string>flag64thD_own.glif</string>
  <key>flag64thUp</key>
  <string>flag64thU_p.glif</string>
  <key>flag8thDown</key>
  <string>flag8thD_own.glif</string>
  <key>flag8thUp</key>
  <string>flag8thU_p.glif</string>
  <key>flagInternalDown</key>
  <string>flagI_nternalD_own.glif</string>
  <key>flagInternalUp</key>
  <string>flagI_nternalU_p.glif</string>
  <key>gClef</key>
  <string>gC_lef.glif</string>
  <key>gClef15ma</key>
  <string>gC_lef15ma.glif</string>
  <key>gClef15mb</key>
  <string>gC_lef15mb.glif</string>
  <key>gClef8va</key>
  <string>gC_lef8va.glif</string>
  <key>gClef8vb</key>
  <string>gC_lef8vb.glif</string>
  <key>gClef8vbOld</key>
  <string>gC_lef8vbO_ld.glif</string>
  <key>gClef8vbParens</key>
  <string>gC_lef8vbP_arens.glif</string>
  <key>gClefChange</key>
  <string>gC_lefC_hange.glif</string>
  <key>graceNoteAcciaccaturaStemDown</key>
  <string>graceN_oteA_cciaccaturaS_temD_own.glif</string>
  <key>graceNoteAcciaccaturaStemUp</key>
  <string>graceN_oteA_cciaccaturaS_temU_p.glif</string>
  <key>graceNoteAppoggiaturaStemDown</key>
  <string>graceN_oteA_ppoggiaturaS_temD_own.glif</string>
  <key>graceNoteAppoggiaturaStemUp</key>
  <string>graceN_oteA_ppoggiaturaS_temU_p.glif</string>
  <key>graceNoteSlashStemDown</key>
  <string>graceN_oteS_lashS_temD_own.glif</string>
  <key>graceNoteSlashStemUp</key>
  <string>graceN_oteS_lashS_temU_p.glif</string>
  <key>harpPedalCentered</key>
  <string>harpP_edalC_entered.glif</string>
  <key>harpPedalDivider</key>
  <string>harpP_edalD_ivider.glif</string>
  <key>harpPedalLowered</key>
  <string>harpP_edalL_owered.glif</string>
  <key>harpPedalRaised</key>
  <string>harpP_edalR_aised.glif</string>
  <key>keyboardPedalD</key>
  <string>keyboardP_edalD_.glif</string>
  <key>keyboardPedalDot</key>
  <string>keyboardP_edalD_ot.glif</string>
  <key>keyboardPedalE</key>
  <string>keyboardP_edalE_.glif</string>
  <key>keyboardPedalP</key>
  <string>keyboardP_edalP_.glif</string>
  <key>keyboardPedalParensLeft</key>
  <string>keyboardP_edalP_arensL_eft.glif</string>
  <key>keyboardPedalParensRight</key>
  <string>keyboardP_edalP_arensR_ight.glif</string>
  <key>keyboardPedalPed</key>
  <string>keyboardP_edalP_ed.glif</string>
  <key>keyboardPedalUp</key>
  <string>keyboardP_edalU_p.glif</string>
  <key>mensuralNoteheadMinimaWhite</key>
  <string>mensuralN_oteheadM_inimaW_hite.glif</string>
  <key>mensuralNoteheadSemiminimaWhite</key>
  <string>mensuralN_oteheadS_emiminimaW_hite.glif</string>
  <key>metAugmentationDot</key>
  <string>metA_ugmentationD_ot.glif</string>
  <key>metNote16thUp</key>
  <string>metN_ote16thU_p.glif</string>
  <key>metNote32ndUp</key>
  <string>metN_ote32ndU_p.glif</string>
  <key>metNote8thUp</key>
  <string>metN_ote8thU_p.glif</string>
  <key>metNoteDoubleWhole</key>
  <string>metN_oteD_oubleW_hole.glif</string>
  <key>metNoteHalfUp</key>
  <string>metN_oteH_alfU_p.glif</string>
  <key>metNoteQuarterUp</key>
  <string>metN_oteQ_uarterU_p.glif</string>
  <key>metNoteWhole</key>
  <string>metN_oteW_hole.glif</string>
  <key>note1024thDown</key>
  <string>note1024thD_own.glif</string>
  <key>note1024thUp</key>
  <string>note1024thU_p.glif</string>
  <key>note128thDown</key>
  <string>note128thD_own.glif</string>
  <key>note128thUp</key>
  <string>note128thU_p.glif</string>
  <key>note16thDown</key>
  <string>note16thD_own.glif</string>
  <key>note16thUp</key>
  <string>note16thU_p.glif</string>
  <key>note256thDown</key>
  <string>note256thD_own.glif</string>
  <key>note256thUp</key>
  <string>note256thU_p.glif</string>
  <key>note32ndDown</key>
  <string>note32ndD_own.glif</string>
  <key>note32ndUp</key>
  <string>note32ndU_p.glif</string>
  <key>note512thDown</key>
  <string>note512thD_own.glif</string>
  <key>note512thUp</key>
  <string>note512thU_p.glif</string>
  <key>note64thDown</key>
  <string>note64thD_own.glif</string>
  <key>note64thUp</key>
  <string>note64thU_p.glif</string>
  <key>note8thDown</key>
  <string>note8thD_own.glif</string>
  <key>note8thUp</key>
  <string>note8thU_p.glif</string>
  <key>noteDoubleWhole</key>
  <string>noteD_oubleW_hole.glif</string>
  <key>noteDoubleWholeSquare</key>
  <string>noteD_oubleW_holeS_quare.glif</string>
  <key>noteHalfDown</key>
  <string>noteH_alfD_own.glif</string>
  <key>noteHalfUp</key>
  <string>noteH_alfU_p.glif</string>
  <key>noteQuarterDown</key>
  <string>noteQ_uarterD_own.glif</string>
  <key>noteQuarterUp</key>
  <string>noteQ_uarterU_p.glif</string>
  <key>noteWhole</key>
  <string>noteW_hole.glif</string>
  <key>noteheadBlack</key>
  <string>noteheadB_lack.glif</string>
  <key>noteheadCircleX</key>
  <string>noteheadC_ircleX_.glif</string>
  <key>noteheadCircledXLarge</key>
  <string>noteheadC_ircledX_L_arge.glif</string>
  <key>noteheadClusterSquareBlack</key>
  <string>noteheadC_lusterS_quareB_lack.glif</string>
  <key>noteheadClusterSquareWhite</key>
  <string>noteheadC_lusterS_quareW_hite.glif</string>
  <key>noteheadDiamondBlack</key>
  <string>noteheadD_iamondB_lack.glif</string>
  <key>noteheadDiamondDoubleWhole</key>
  <string>noteheadD_iamondD_oubleW_hole.glif</string>
  <key>noteheadDiamondHalf</key>
  <string>noteheadD_iamondH_alf.glif</string>
  <key>noteheadDiamondWhole</key>
  <string>noteheadD_iamondW_hole.glif</string>
  <key>noteheadDoubleWhole</key>
  <string>noteheadD_oubleW_hole.glif</string>
  <key>noteheadDoubleWholeSquare</key>
  <string>noteheadD_oubleW_holeS_quare.glif</string>
  <key>noteheadHalf</key>
  <string>noteheadH_alf.glif</string>
  <key>noteheadHalfFilled</key>
  <string>noteheadH_alfF_illed.glif</string>
  <key>noteheadMoonBlack</key>
  <string>noteheadM_oonB_lack.glif</string>
  <key>noteheadMoonWhite</key>
  <string>noteheadM_oonW_hite.glif</string>
  <key>noteheadNull</key>
  <string>noteheadN_ull.glif</string>
  <key>noteheadParenthesisLeft</key>
  <string>noteheadP_arenthesisL_eft.glif</string>
  <key>noteheadParenthesisRight</key>
  <string>noteheadP_arenthesisR_ight.glif</string>
  <key>noteheadPlusBlack</key>
  <string>noteheadP_lusB_lack.glif</string>
  <key>noteheadRoundBlackDoubleSlashed</key>
  <string>noteheadR_oundB_lackD_oubleS_lashed.glif</string>
  <key>noteheadRoundWhiteDoubleSlashed</key>
  <string>noteheadR_oundW_hiteD_oubleS_lashed.glif</string>
  <key>noteheadSlashedBlack1</key>
  <string>noteheadS_lashedB_lack1.glif</string>
  <key>noteheadSlashedBlack2</key>
  <string>noteheadS_lashedB_lack2.glif</string>
  <key>noteheadSlashedDoubleWhole1</key>
  <string>noteheadS_lashedD_oubleW_hole1.glif</string>
  <key>noteheadSlashedDoubleWhole2</key>
  <string>noteheadS_lashedD_oubleW_hole2.glif</string>
  <key>noteheadSlashedHalf1</key>
  <string>noteheadS_lashedH_alf1.glif</string>
  <key>noteheadSlashedHalf2</key>
  <string>noteheadS_lashedH_alf2.glif</string>
  <key>noteheadSlashedWhole1</key>
  <string>noteheadS_lashedW_hole1.glif</string>
  <key>noteheadSlashedWhole2</key>
  <string>noteheadS_lashedW_hole2.glif</string>
  <key>noteheadSquareBlack</key>
  <string>noteheadS_quareB_lack.glif</string>
  <key>noteheadSquareWhite</key>
  <string>noteheadS_quareW_hite.glif</string>
  <key>noteheadTriangleLeftBlack</key>
  <string>noteheadT_riangleL_eftB_lack.glif</string>
  <key>noteheadTriangleLeftWhite</key>
  <string>noteheadT_riangleL_eftW_hite.glif</string>
  <key>noteheadTriangleRightBlack</key>
  <string>noteheadT_riangleR_ightB_lack.glif</string>
  <key>noteheadTriangleRightWhite</key>
  <string>noteheadT_riangleR_ightW_hite.glif</string>
  <key>noteheadTriangleRoundDownBlack</key>
  <string>noteheadT_riangleR_oundD_ownB_lack.glif</string>
  <key>noteheadTriangleRoundDownWhite</key>
  <string>noteheadT_riangleR_oundD_ownW_hite.glif</string>
  <key>noteheadTriangleUpBlack</key>
  <string>noteheadT_riangleU_pB_lack.glif</string>
  <key>noteheadTriangleUpWhite</key>
  <string>noteheadT_riangleU_pW_hite.glif</string>
  <key>noteheadWhole</key>
  <string>noteheadW_hole.glif</string>
  <key>noteheadWholeFilled</key>
  <string>noteheadW_holeF_illed.glif</string>
  <key>noteheadXBlack</key>
  <string>noteheadX_B_lack.glif</string>
  <key>octaveBassa</key>
  <string>octaveB_assa.glif</string>
  <key>octaveParensLeft</key>
  <string>octaveP_arensL_eft.glif</string>
  <key>octaveParensRight</key>
  <string>octaveP_arensR_ight.glif</string>
  <key>oneHandedRollStevens</key>
  <string>oneH_andedR_ollS_tevens.glif</string>
  <key>ornamentDoubleObliqueLinesAfterNote</key>
  <string>ornamentD_oubleO_bliqueL_inesA_fterN_ote.glif</string>
  <key>ornamentDoubleObliqueLinesBeforeNote</key>
  <string>ornamentD_oubleO_bliqueL_inesB_eforeN_ote.glif</string>
  <key>ornamentDownCurve</key>
  <string>ornamentD_ownC_urve.glif</string>
  <key>ornamentHaydn</key>
  <string>ornamentH_aydn.glif</string>
  <key>ornamentHookAfterNote</key>
  <string>ornamentH_ookA_fterN_ote.glif</string>
  <key>ornamentHookBeforeNote</key>
  <string>ornamentH_ookB_eforeN_ote.glif</string>
  <key>ornamentLeftFacingHalfCircle</key>
  <string>ornamentL_eftF_acingH_alfC_ircle.glif</string>
  <key>ornamentLeftFacingHook</key>
  <string>ornamentL_eftF_acingH_ook.glif</string>
  <key>ornamentLowLeftConcaveStroke</key>
  <string>ornamentL_owL_eftC_oncaveS_troke.glif</string>
  <key>ornamentMordent</key>
  <string>ornamentM_ordent.glif</string>
  <key>ornamentObliqueLineAfterNote</key>
  <string>ornamentO_bliqueL_ineA_fterN_ote.glif</string>
  <key>ornamentObliqueLineBeforeNote</key>
  <string>ornamentO_bliqueL_ineB_eforeN_ote.glif</string>
  <key>ornamentObliqueLineHorizAfterNote</key>
  <string>ornamentO_bliqueL_ineH_orizA_fterN_ote.glif</string>
  <key>ornamentObliqueLineHorizBeforeNote</key>
  <string>ornamentO_bliqueL_ineH_orizB_eforeN_ote.glif</string>
  <key>ornamentOriscus</key>
  <string>ornamentO_riscus.glif</string>
  <key>ornamentPinceCouperin</key>
  <string>ornamentP_inceC_ouperin.glif</string>
  <key>ornamentPortDeVoixV</key>
  <string>ornamentP_ortD_eV_oixV_.glif</string>
  <key>ornamentPrecompAppoggTrill</key>
  <string>ornamentP_recompA_ppoggT_rill.glif</string>
  <key>ornamentPrecompCadence</key>
  <string>ornamentP_recompC_adence.glif</string>
  <key>ornamentPrecompDoubleCadenceLowerPrefix</key>
  <string>ornamentP_recompD_oubleC_adenceL_owerP_refix.glif</string>
  <key>ornamentPrecompDoubleCadenceUpperPrefix</key>
  <string>ornamentP_recompD_oubleC_adenceU_pperP_refix.glif</string>
  <key>ornamentPrecompInvertedMordentUpperPrefix</key>
  <string>ornamentP_recompI_nvertedM_ordentU_pperP_refix.glif</string>
  <key>ornamentPrecompMordentUpperPrefix</key>
  <string>ornamentP_recompM_ordentU_pperP_refix.glif</string>
  <key>ornamentPrecompPortDeVoixMordent</key>
  <string>ornamentP_recompP_ortD_eV_oixM_ordent.glif</string>
  <key>ornamentPrecompSlideTrillBach</key>
  <string>ornamentP_recompS_lideT_rillB_ach.glif</string>
  <key>ornamentPrecompSlideTrillDAnglebert</key>
  <string>ornamentP_recompS_lideT_rillD_A_nglebert.glif</string>
  <key>ornamentPrecompTrillLowerSuffix</key>
  <string>ornamentP_recompT_rillL_owerS_uffix.glif</string>
  <key>ornamentPrecompTrillSuffixDandrieu</key>
  <string>ornamentP_recompT_rillS_uffixD_andrieu.glif</string>
  <key>ornamentPrecompTrillWithMordent</key>
  <string>ornamentP_recompT_rillW_ithM_ordent.glif</string>
  <key>ornamentQuilisma</key>
  <string>ornamentQ_uilisma.glif</string>
  <key>ornamentRightFacingHalfCircle</key>
  <string>ornamentR_ightF_acingH_alfC_ircle.glif</string>
  <key>ornamentRightFacingHook</key>
  <string>ornamentR_ightF_acingH_ook.glif</string>
  <key>ornamentSchleifer</key>
  <string>ornamentS_chleifer.glif</string>
  <key>ornamentShake3</key>
  <string>ornamentS_hake3.glif</string>
  <key>ornamentShakeMuffat1</key>
  <string>ornamentS_hakeM_uffat1.glif</string>
  <key>ornamentShortObliqueLineAfterNote</key>
  <string>ornamentS_hortO_bliqueL_ineA_fterN_ote.glif</string>
  <key>ornamentShortObliqueLineBeforeNote</key>
  <string>ornamentS_hortO_bliqueL_ineB_eforeN_ote.glif</string>
  <key>ornamentShortTrill</key>
  <string>ornamentS_hortT_rill.glif</string>
  <key>ornamentTremblement</key>
  <string>ornamentT_remblement.glif</string>
  <key>ornamentTrill</key>
  <string>ornamentT_rill.glif</string>
  <key>ornamentTurn</key>
  <string>ornamentT_urn.glif</string>
  <key>ornamentTurnInverted</key>
  <string>ornamentT_urnI_nverted.glif</string>
  <key>ornamentTurnSlash</key>
  <string>ornamentT_urnS_lash.glif</string>
  <key>ornamentTurnUp</key>
  <string>ornamentT_urnU_p.glif</string>
  <key>ornamentTurnUpS</key>
  <string>ornamentT_urnU_pS_.glif</string>
  <key>ornamentVerticalLine</key>
  <string>ornamentV_erticalL_ine.glif</string>
  <key>ornamentZigZagLineNoRightEnd</key>
  <string>ornamentZ_igZ_agL_ineN_oR_ightE_nd.glif</string>
  <key>ornamentZigZagLineWithRightEnd</key>
  <string>ornamentZ_igZ_agL_ineW_ithR_ightE_nd.glif</string>
  <key>ottava</key>
  <string>ottava.glif</string>
  <key>ottavaAlta</key>
  <string>ottavaA_lta.glif</string>
  <key>ottavaBassa</key>
  <string>ottavaB_assa.glif</string>
  <key>ottavaBassaBa</key>
  <string>ottavaB_assaB_a.glif</string>
  <key>ottavaBassaVb</key>
  <string>ottavaB_assaV_b.glif</string>
  <key>pluckedBuzzPizzicato</key>
  <string>pluckedB_uzzP_izzicato.glif</string>
  <key>pluckedSnapPizzicatoAbove</key>
  <string>pluckedS_napP_izzicatoA_bove.glif</string>
  <key>pluckedSnapPizzicatoBelow</key>
  <string>pluckedS_napP_izzicatoB_elow.glif</string>
  <key>quindicesima</key>
  <string>quindicesima.glif</string>
  <key>quindicesimaAlta</key>
  <string>quindicesimaA_lta.glif</string>
  <key>quindicesimaBassa</key>
  <string>quindicesimaB_assa.glif</string>
  <key>quindicesimaBassaMb</key>
  <string>quindicesimaB_assaM_b.glif</string>
  <key>repeat1Bar</key>
  <string>repeat1B_ar.glif</string>
  <key>repeat2Bars</key>
  <string>repeat2B_ars.glif</string>
  <key>repeat4Bars</key>
  <string>repeat4B_ars.glif</string>
  <key>repeatBarLowerDot</key>
  <string>repeatB_arL_owerD_ot.glif</string>
  <key>repeatBarSlash</key>
  <string>repeatB_arS_lash.glif</string>
  <key>repeatBarUpperDot</key>
  <string>repeatB_arU_pperD_ot.glif</string>
  <key>repeatDot</key>
  <string>repeatD_ot.glif</string>
  <key>repeatDots</key>
  <string>repeatD_ots.glif</string>
  <key>rest1024th</key>
  <string>rest1024th.glif</string>
  <key>rest128th</key>
  <string>rest128th.glif</string>
  <key>rest16th</key>
  <string>rest16th.glif</string>
  <key>rest256th</key>
  <string>rest256th.glif</string>
  <key>rest32nd</key>
  <string>rest32nd.glif</string>
  <key>rest512th</key>
  <string>rest512th.glif</string>
  <key>rest64th</key>
  <string>rest64th.glif</string>
  <key>rest8th</key>
  <string>rest8th.glif</string>
  <key>restDoubleWhole</key>
  <string>restD_oubleW_hole.glif</string>
  <key>restDoubleWholeLegerLine</key>
  <string>restD_oubleW_holeL_egerL_ine.glif</string>
  <key>restHalf</key>
  <string>restH_alf.glif</string>
  <key>restHalfLegerLine</key>
  <string>restH_alfL_egerL_ine.glif</string>
  <key>restLonga</key>
  <string>restL_onga.glif</string>
  <key>restMaxima</key>
  <string>restM_axima.glif</string>
  <key>restQuarter</key>
  <string>restQ_uarter.glif</string>
  <key>restQuarterOld</key>
  <string>restQ_uarterO_ld.glif</string>
  <key>restQuarterZ</key>
  <string>restQ_uarterZ_.glif</string>
  <key>restWhole</key>
  <string>restW_hole.glif</string>
  <key>restWholeLegerLine</key>
  <string>restW_holeL_egerL_ine.glif</string>
  <key>reversedBrace</key>
  <string>reversedB_race.glif</string>
  <key>reversedBracketBottom</key>
  <string>reversedB_racketB_ottom.glif</string>
  <key>reversedBracketTop</key>
  <string>reversedB_racketT_op.glif</string>
  <key>segno</key>
  <string>segno.glif</string>
  <key>segnoSerpent1</key>
  <string>segnoS_erpent1.glif</string>
  <key>segnoSerpent2</key>
  <string>segnoS_erpent2.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>stringsDownBow</key>
  <string>stringsD_ownB_ow.glif</string>
  <key>stringsDownBowTurned</key>
  <string>stringsD_ownB_owT_urned.glif</string>
  <key>stringsHalfHarmonic</key>
  <string>stringsH_alfH_armonic.glif</string>
  <key>stringsHarmonic</key>
  <string>stringsH_armonic.glif</string>
  <key>stringsUpBow</key>
  <string>stringsU_pB_ow.glif</string>
  <key>stringsUpBowTurned</key>
  <string>stringsU_pB_owT_urned.glif</string>
  <key>systemDivider</key>
  <string>systemD_ivider.glif</string>
  <key>systemDividerExtraLong</key>
  <string>systemD_ividerE_xtraL_ong.glif</string>
  <key>systemDividerLong</key>
  <string>systemD_ividerL_ong.glif</string>
  <key>timeSig0</key>
  <string>timeS_ig0.glif</string>
  <key>timeSig1</key>
  <string>timeS_ig1.glif</string>
  <key>timeSig2</key>
  <string>timeS_ig2.glif</string>
  <key>timeSig3</key>
  <string>timeS_ig3.glif</string>
  <key>timeSig4</key>
  <string>timeS_ig4.glif</string>
  <key>timeSig5</key>
  <string>timeS_ig5.glif</string>
  <key>timeSig6</key>
  <string>timeS_ig6.glif</string>
  <key>timeSig7</key>
  <string>timeS_ig7.glif</string>
  <key>timeSig8</key>
  <string>timeS_ig8.glif</string>
  <key>timeSig9</key>
  <string>timeS_ig9.glif</string>
  <key>timeSigCommon</key>
  <string>timeS_igC_ommon.glif</string>
  <key>timeSigCutCommon</key>
  <string>timeS_igC_utC_ommon.glif</string>
  <key>timeSigPlus</key>
  <string>timeS_igP_lus.glif</string>
  <key>tremolo1</key>
  <string>tremolo1.glif</string>
  <key>tremolo2</key>
  <string>tremolo2.glif</string>
  <key>tremolo3</key>
  <string>tremolo3.glif</string>
  <key>tremolo4</key>
  <string>tremolo4.glif</string>
  <key>tremolo5</key>
  <string>tremolo5.glif</string>
  <key>tremoloDivisiDots2</key>
  <string>tremoloD_ivisiD_ots2.glif</string>
  <key>tremoloDivisiDots3</key>
  <string>tremoloD_ivisiD_ots3.glif</string>
  <key>tremoloDivisiDots4</key>
  <string>tremoloD_ivisiD_ots4.glif</string>
  <key>tremoloDivisiDots6</key>
  <string>tremoloD_ivisiD_ots6.glif</string>
  <key>tremoloFingered1</key>
  <string>tremoloF_ingered1.glif</string>
  <key>tremoloFingered2</key>
  <string>tremoloF_ingered2.glif</string>
  <key>tremoloFingered3</key>
  <string>tremoloF_ingered3.glif</string>
  <key>tremoloFingered4</key>
  <string>tremoloF_ingered4.glif</string>
  <key>tremoloFingered5</key>
  <string>tremoloF_ingered5.glif</string>
  <key>tuplet0</key>
  <string>tuplet0.glif</string>
  <key>tuplet1</key>
  <string>tuplet1.glif</string>
  <key>tuplet2</key>
  <string>tuplet2.glif</string>
  <key>tuplet3</key>
  <string>tuplet3.glif</string>
  <key>tuplet4</key>
  <string>tuplet4.glif</string>
  <key>tuplet5</key>
  <string>tuplet5.glif</string>
  <key>tuplet6</key>
  <string>tuplet6.glif</string>
  <key>tuplet7</key>
  <string>tuplet7.glif</string>
  <key>tuplet8</key>
  <string>tuplet8.glif</string>
  <key>tuplet9</key>
  <string>tuplet9.glif</string>
  <key>tupletColon</key>
  <string>tupletC_olon.glif</string>
  <key>uni0000</key>
  <string>uni0000.glif</string>
  <key>uni000D</key>
  <string>uni000D_.glif</string>
  <key>uniF400</key>
  <string>uniF_400.glif</string>
  <key>uniF401</key>
  <string>uniF_401.glif</string>
  <key>uniF402</key>
  <string>uniF_402.glif</string>
  <key>uniF403</key>
  <string>uniF_403.glif</string>
  <key>uniF40E</key>
  <string>uniF_40E_.glif</string>
  <key>uniF40F</key>
  <string>uniF_40F_.glif</string>
  <key>uniF411</key>
  <string>uniF_411.glif</string>
  <key>uniF412</key>
  <string>uniF_412.glif</string>
  <key>uniF414</key>
  <string>uniF_414.glif</string>
  <key>uniF415</key>
  <string>uniF_415.glif</string>
  <key>uniF417</key>
  <string>uniF_417.glif</string>
  <key>uniF418</key>
  <string>uniF_418.glif</string>
  <key>uniF41A</key>
  <string>uniF_41A_.glif</string>
  <key>uniF41B</key>
  <string>uniF_41B_.glif</string>
  <key>uniF41D</key>
  <string>uniF_41D_.glif</string>
  <key>uniF41E</key>
  <string>uniF_41E_.glif</string>
  <key>uniF420</key>
  <string>uniF_420.glif</string>
  <key>uniF421</key>
  <string>uniF_421.glif</string>
  <key>uniF423</key>
  <string>uniF_423.glif</string>
  <key>uniF424</key>
  <string>uniF_424.glif</string>
  <key>uniF426</key>
  <string>uniF_426.glif</string>
  <key>uniF434</key>
  <string>uniF_434.glif</string>
  <key>uniF440</key>
  <string>uniF_440.glif</string>
  <key>uniF441</key>
  <string>uniF_441.glif</string>
  <key>uniF442</key>
  <string>uniF_442.glif</string>
  <key>uniF443</key>
  <string>uniF_443.glif</string>
  <key>uniF444</key>
  <string>uniF_444.glif</string>
  <key>uniF445</key>
  <string>uniF_445.glif</string>
  <key>uniF446</key>
  <string>uniF_446.glif</string>
  <key>uniF447</key>
  <string>uniF_447.glif</string>
  <key>uniF448</key>
  <string>uniF_448.glif</string>
  <key>uniF449</key>
  <string>uniF_449.glif</string>
  <key>uniF4BA</key>
  <string>uniF_4B_A_.glif</string>
  <key>uniF506</key>
  <string>uniF_506.glif</string>
  <key>uniF507</key>
  <string>uniF_507.glif</string>
  <key>uniF508</key>
  <string>uniF_508.glif</string>
  <key>uniF509</key>
  <string>uniF_509.glif</string>
  <key>uniF50A</key>
  <string>uniF_50A_.glif</string>
  <key>uniF50B</key>
  <string>uniF_50B_.glif</string>
  <key>uniF50C</key>
  <string>uniF_50C_.glif</string>
  <key>uniF50D</key>
  <string>uniF_50D_.glif</string>
  <key>uniF50E</key>
  <string>uniF_50E_.glif</string>
  <key>uniF50F</key>
  <string>uniF_50F_.glif</string>
  <key>uniF5DD</key>
  <string>uniF_5D_D_.glif</string>
  <key>uniF5DE</key>
  <string>uniF_5D_E_.glif</string>
  <key>uniF5DF</key>
  <string>uniF_5D_F_.glif</string>
  <key>uniF5E0</key>
  <string>uniF_5E_0.glif</string>
  <key>uniF5E1</key>
  <string>uniF_5E_1.glif</string>
  <key>uniF630</key>
  <string>uniF_630.glif</string>
  <key>uniF631</key>
  <string>uniF_631.glif</string>
  <key>unpitchedPercussionClef1</key>
  <string>unpitchedP_ercussionC_lef1.glif</string>
  <key>unpitchedPercussionClef2</key>
  <string>unpitchedP_ercussionC_lef2.glif</string>
  <key>ventiduesima</key>
  <string>ventiduesima.glif</string>
  <key>ventiduesimaAlta</key>
  <string>ventiduesimaA_lta.glif</string>
  <key>ventiduesimaBassa</key>
  <string>ventiduesimaB_assa.glif</string>
  <key>ventiduesimaBassaMb</key>
  <string>ventiduesimaB_assaM_b.glif</string>
  <key>wiggleArpeggiatoDown</key>
  <string>wiggleA_rpeggiatoD_own.glif</string>
  <key>wiggleArpeggiatoDownArrow</key>
  <string>wiggleA_rpeggiatoD_ownA_rrow.glif</string>
  <key>wiggleArpeggiatoUp</key>
  <string>wiggleA_rpeggiatoU_p.glif</string>
  <key>wiggleArpeggiatoUpArrow</key>
  <string>wiggleA_rpeggiatoU_pA_rrow.glif</string>
  <key>wiggleTrill</key>
  <string>wiggleT_rill.glif</string>
</dict>
</plist>
