<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1.dynamicPP</key>
  <array>
    <string>dynamicPP</string>
    <string>dynamicPPP</string>
    <string>dynamicPPPP</string>
    <string>dynamicPPPPP</string>
    <string>dynamicPPPPPP</string>
    <string>dynamicPiano</string>
  </array>
  <key>public.kern1.uniF631</key>
  <array>
    <string>dynamicFF</string>
    <string>dynamicFFF</string>
    <string>dynamicFFFF</string>
    <string>dynamicFFFFF</string>
    <string>dynamicFFFFFF</string>
    <string>dynamicForte</string>
    <string>dynamicMF</string>
    <string>dynamicPF</string>
    <string>dynamicRinforzando1</string>
    <string>dynamicSforzando1</string>
    <string>uniF631</string>
  </array>
  <key>public.kern2.dynamicPP2</key>
  <array>
    <string>dynamicPP</string>
    <string>dynamicPPP</string>
    <string>dynamicPPPP</string>
    <string>dynamicPPPPP</string>
    <string>dynamicPPPPPP</string>
    <string>dynamicPiano</string>
  </array>
</dict>
</plist>
