<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>dynamicFF</key>
  <dict>
    <key>dynamicFF</key>
    <integer>-61</integer>
    <key>dynamicFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFFFF</key>
    <integer>-61</integer>
    <key>dynamicForte</key>
    <integer>-84</integer>
    <key>dynamicFortePiano</key>
    <integer>-61</integer>
    <key>dynamicForzando</key>
    <integer>-61</integer>
    <key>dynamicZ</key>
    <integer>-140</integer>
  </dict>
  <key>dynamicFFF</key>
  <dict>
    <key>dynamicFF</key>
    <integer>-61</integer>
    <key>dynamicFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFFFF</key>
    <integer>-61</integer>
    <key>dynamicForte</key>
    <integer>-84</integer>
    <key>dynamicFortePiano</key>
    <integer>-61</integer>
    <key>dynamicForzando</key>
    <integer>-61</integer>
    <key>dynamicZ</key>
    <integer>-140</integer>
  </dict>
  <key>dynamicFFFF</key>
  <dict>
    <key>dynamicFF</key>
    <integer>-61</integer>
    <key>dynamicFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFFFF</key>
    <integer>-61</integer>
    <key>dynamicForte</key>
    <integer>-84</integer>
    <key>dynamicFortePiano</key>
    <integer>-61</integer>
    <key>dynamicForzando</key>
    <integer>-61</integer>
    <key>dynamicZ</key>
    <integer>-140</integer>
  </dict>
  <key>dynamicFFFFF</key>
  <dict>
    <key>dynamicFF</key>
    <integer>-61</integer>
    <key>dynamicFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFFFF</key>
    <integer>-61</integer>
    <key>dynamicForte</key>
    <integer>-84</integer>
    <key>dynamicFortePiano</key>
    <integer>-61</integer>
    <key>dynamicForzando</key>
    <integer>-61</integer>
    <key>dynamicZ</key>
    <integer>-140</integer>
  </dict>
  <key>dynamicFFFFFF</key>
  <dict>
    <key>dynamicFF</key>
    <integer>-61</integer>
    <key>dynamicFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFFFF</key>
    <integer>-61</integer>
    <key>dynamicForte</key>
    <integer>-84</integer>
    <key>dynamicFortePiano</key>
    <integer>-61</integer>
    <key>dynamicForzando</key>
    <integer>-61</integer>
    <key>dynamicZ</key>
    <integer>-140</integer>
  </dict>
  <key>dynamicForte</key>
  <dict>
    <key>dynamicFF</key>
    <integer>-61</integer>
    <key>dynamicFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFFFF</key>
    <integer>-61</integer>
    <key>dynamicForte</key>
    <integer>-84</integer>
    <key>dynamicFortePiano</key>
    <integer>-61</integer>
    <key>dynamicForzando</key>
    <integer>-61</integer>
    <key>dynamicZ</key>
    <integer>-140</integer>
  </dict>
  <key>dynamicMF</key>
  <dict>
    <key>dynamicFF</key>
    <integer>-61</integer>
    <key>dynamicFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFFFF</key>
    <integer>-61</integer>
    <key>dynamicForte</key>
    <integer>-84</integer>
    <key>dynamicFortePiano</key>
    <integer>-61</integer>
    <key>dynamicForzando</key>
    <integer>-61</integer>
    <key>dynamicZ</key>
    <integer>-140</integer>
  </dict>
  <key>dynamicPF</key>
  <dict>
    <key>dynamicFF</key>
    <integer>-61</integer>
    <key>dynamicFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFFFF</key>
    <integer>-61</integer>
    <key>dynamicForte</key>
    <integer>-84</integer>
    <key>dynamicFortePiano</key>
    <integer>-61</integer>
    <key>dynamicForzando</key>
    <integer>-61</integer>
    <key>dynamicZ</key>
    <integer>-140</integer>
  </dict>
  <key>dynamicRinforzando1</key>
  <dict>
    <key>dynamicFF</key>
    <integer>-61</integer>
    <key>dynamicFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFFFF</key>
    <integer>-61</integer>
    <key>dynamicForte</key>
    <integer>-84</integer>
    <key>dynamicFortePiano</key>
    <integer>-61</integer>
    <key>dynamicForzando</key>
    <integer>-61</integer>
    <key>dynamicZ</key>
    <integer>-140</integer>
  </dict>
  <key>dynamicSforzando1</key>
  <dict>
    <key>dynamicFF</key>
    <integer>-61</integer>
    <key>dynamicFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFFFF</key>
    <integer>-61</integer>
    <key>dynamicForte</key>
    <integer>-84</integer>
    <key>dynamicFortePiano</key>
    <integer>-61</integer>
    <key>dynamicForzando</key>
    <integer>-61</integer>
    <key>dynamicZ</key>
    <integer>-140</integer>
  </dict>
  <key>dynamicZ</key>
  <dict>
    <key>dynamicPP</key>
    <integer>-5</integer>
    <key>dynamicPPP</key>
    <integer>-5</integer>
    <key>dynamicPPPP</key>
    <integer>-5</integer>
    <key>dynamicPPPPP</key>
    <integer>-5</integer>
    <key>dynamicPPPPPP</key>
    <integer>-5</integer>
    <key>dynamicPiano</key>
    <integer>-5</integer>
  </dict>
  <key>keyboardPedalD</key>
  <dict>
    <key>keyboardPedalDot</key>
    <integer>20</integer>
    <key>keyboardPedalParensRight</key>
    <integer>25</integer>
  </dict>
  <key>keyboardPedalDot</key>
  <dict>
    <key>keyboardPedalParensRight</key>
    <integer>20</integer>
  </dict>
  <key>keyboardPedalE</key>
  <dict>
    <key>keyboardPedalD</key>
    <integer>-120</integer>
  </dict>
  <key>keyboardPedalP</key>
  <dict>
    <key>keyboardPedalE</key>
    <integer>-34</integer>
    <key>keyboardPedalParensRight</key>
    <integer>30</integer>
  </dict>
  <key>keyboardPedalParensLeft</key>
  <dict>
    <key>keyboardPedalP</key>
    <integer>10</integer>
    <key>keyboardPedalPed</key>
    <integer>10</integer>
    <key>uniF434</key>
    <integer>10</integer>
  </dict>
  <key>keyboardPedalPed</key>
  <dict>
    <key>keyboardPedalParensRight</key>
    <integer>20</integer>
  </dict>
  <key>octaveBassa</key>
  <dict>
    <key>octaveParensRight</key>
    <integer>40</integer>
  </dict>
  <key>octaveParensLeft</key>
  <dict>
    <key>octaveBassa</key>
    <integer>40</integer>
    <key>ottava</key>
    <integer>40</integer>
    <key>ottavaAlta</key>
    <integer>40</integer>
    <key>ottavaBassa</key>
    <integer>40</integer>
    <key>ottavaBassaBa</key>
    <integer>40</integer>
    <key>ottavaBassaVb</key>
    <integer>40</integer>
    <key>quindicesima</key>
    <integer>40</integer>
    <key>quindicesimaAlta</key>
    <integer>40</integer>
    <key>quindicesimaBassa</key>
    <integer>40</integer>
    <key>quindicesimaBassaMb</key>
    <integer>40</integer>
    <key>ventiduesima</key>
    <integer>40</integer>
    <key>ventiduesimaAlta</key>
    <integer>40</integer>
    <key>ventiduesimaBassa</key>
    <integer>40</integer>
    <key>ventiduesimaBassaMb</key>
    <integer>40</integer>
  </dict>
  <key>ottava</key>
  <dict>
    <key>octaveParensRight</key>
    <integer>40</integer>
  </dict>
  <key>ottavaAlta</key>
  <dict>
    <key>octaveParensRight</key>
    <integer>40</integer>
  </dict>
  <key>ottavaBassa</key>
  <dict>
    <key>octaveParensRight</key>
    <integer>40</integer>
  </dict>
  <key>ottavaBassaBa</key>
  <dict>
    <key>octaveParensRight</key>
    <integer>40</integer>
  </dict>
  <key>ottavaBassaVb</key>
  <dict>
    <key>octaveParensRight</key>
    <integer>40</integer>
  </dict>
  <key>quindicesima</key>
  <dict>
    <key>octaveParensRight</key>
    <integer>40</integer>
  </dict>
  <key>quindicesimaAlta</key>
  <dict>
    <key>octaveParensRight</key>
    <integer>40</integer>
  </dict>
  <key>quindicesimaBassa</key>
  <dict>
    <key>octaveParensRight</key>
    <integer>40</integer>
  </dict>
  <key>quindicesimaBassaMb</key>
  <dict>
    <key>octaveParensRight</key>
    <integer>40</integer>
  </dict>
  <key>uniF434</key>
  <dict>
    <key>keyboardPedalDot</key>
    <integer>20</integer>
    <key>keyboardPedalParensRight</key>
    <integer>25</integer>
  </dict>
  <key>uniF631</key>
  <dict>
    <key>dynamicFF</key>
    <integer>-61</integer>
    <key>dynamicFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFFF</key>
    <integer>-61</integer>
    <key>dynamicFFFFFF</key>
    <integer>-61</integer>
    <key>dynamicForte</key>
    <integer>-84</integer>
    <key>dynamicFortePiano</key>
    <integer>-61</integer>
    <key>dynamicForzando</key>
    <integer>-61</integer>
    <key>dynamicZ</key>
    <integer>-140</integer>
  </dict>
  <key>ventiduesima</key>
  <dict>
    <key>octaveParensRight</key>
    <integer>40</integer>
  </dict>
  <key>ventiduesimaAlta</key>
  <dict>
    <key>octaveParensRight</key>
    <integer>40</integer>
  </dict>
  <key>ventiduesimaBassa</key>
  <dict>
    <key>octaveParensRight</key>
    <integer>40</integer>
  </dict>
  <key>ventiduesimaBassaMb</key>
  <dict>
    <key>octaveParensRight</key>
    <integer>40</integer>
  </dict>
  <key>public.kern1.dynamicPP</key>
  <dict>
    <key>public.kern2.dynamicPP2</key>
    <integer>-25</integer>
  </dict>
  <key>public.kern1.uniF631</key>
  <dict>
    <key>public.kern2.dynamicPP2</key>
    <integer>-70</integer>
  </dict>
</dict>
</plist>
