<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>base</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>20</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>B1</key>
      <dict>
        <key>position</key>
        <integer>737</integer>
        <key>width</key>
        <integer>1401</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>B2</key>
      <dict>
        <key>position</key>
        <integer>987</integer>
        <key>width</key>
        <integer>139</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>B3</key>
      <dict>
        <key>position</key>
        <integer>487</integer>
        <key>width</key>
        <integer>330</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>B4</key>
      <dict>
        <key>position</key>
        <integer>12</integer>
        <key>width</key>
        <integer>24</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>T1</key>
      <dict>
        <key>position</key>
        <integer>237</integer>
        <key>width</key>
        <integer>25</integer>
        <key>top</key>
        <true/>
      </dict>
    </dict>
    <key>stems</key>
    <dict>
      <key>22</key>
      <dict>
        <key>width</key>
        <integer>22</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>28</key>
      <dict>
        <key>width</key>
        <integer>28</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>32</key>
      <dict>
        <key>width</key>
        <integer>32</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>42</key>
      <dict>
        <key>width</key>
        <integer>42</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>30</key>
      <dict>
        <key>width</key>
        <integer>30</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>36</key>
      <dict>
        <key>width</key>
        <integer>36</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>43</key>
      <dict>
        <key>width</key>
        <integer>43</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>68</key>
      <dict>
        <key>width</key>
        <integer>68</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>89</key>
      <dict>
        <key>width</key>
        <integer>89</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>152</key>
      <dict>
        <key>width</key>
        <integer>152</integer>
        <key>horizontal</key>
        <false/>
      </dict>
    </dict>
  </dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>uni0000</string>
    <string>uni000D</string>
    <string>space</string>
    <string>brace</string>
    <string>reversedBrace</string>
    <string>bracket</string>
    <string>bracketTop</string>
    <string>bracketBottom</string>
    <string>reversedBracketTop</string>
    <string>reversedBracketBottom</string>
    <string>systemDivider</string>
    <string>systemDividerLong</string>
    <string>systemDividerExtraLong</string>
    <string>repeatDots</string>
    <string>repeatDot</string>
    <string>segno</string>
    <string>coda</string>
    <string>codaSquare</string>
    <string>segnoSerpent1</string>
    <string>segnoSerpent2</string>
    <string>gClef</string>
    <string>gClef15mb</string>
    <string>gClef8vb</string>
    <string>gClef8va</string>
    <string>gClef15ma</string>
    <string>gClef8vbOld</string>
    <string>gClef8vbParens</string>
    <string>cClef</string>
    <string>cClef8vb</string>
    <string>fClef</string>
    <string>fClef15mb</string>
    <string>fClef8vb</string>
    <string>fClef8va</string>
    <string>fClef15ma</string>
    <string>unpitchedPercussionClef1</string>
    <string>unpitchedPercussionClef2</string>
    <string>_6stringTabClef</string>
    <string>_4stringTabClef</string>
    <string>gClefChange</string>
    <string>cClefChange</string>
    <string>fClefChange</string>
    <string>clef8</string>
    <string>clef15</string>
    <string>timeSig0</string>
    <string>timeSig1</string>
    <string>timeSig2</string>
    <string>timeSig3</string>
    <string>timeSig4</string>
    <string>timeSig5</string>
    <string>timeSig6</string>
    <string>timeSig7</string>
    <string>timeSig8</string>
    <string>timeSig9</string>
    <string>timeSigCommon</string>
    <string>timeSigCutCommon</string>
    <string>timeSigPlus</string>
    <string>noteheadDoubleWhole</string>
    <string>noteheadDoubleWholeSquare</string>
    <string>noteheadWhole</string>
    <string>noteheadHalf</string>
    <string>noteheadBlack</string>
    <string>noteheadNull</string>
    <string>noteheadXBlack</string>
    <string>noteheadPlusBlack</string>
    <string>noteheadCircleX</string>
    <string>noteheadSquareWhite</string>
    <string>noteheadSquareBlack</string>
    <string>noteheadTriangleUpWhite</string>
    <string>noteheadTriangleUpBlack</string>
    <string>noteheadTriangleLeftWhite</string>
    <string>noteheadTriangleLeftBlack</string>
    <string>noteheadTriangleRightWhite</string>
    <string>noteheadTriangleRightBlack</string>
    <string>noteheadMoonWhite</string>
    <string>noteheadMoonBlack</string>
    <string>noteheadTriangleRoundDownWhite</string>
    <string>noteheadTriangleRoundDownBlack</string>
    <string>noteheadSlashedBlack1</string>
    <string>noteheadSlashedBlack2</string>
    <string>noteheadSlashedHalf1</string>
    <string>noteheadSlashedHalf2</string>
    <string>noteheadSlashedWhole1</string>
    <string>noteheadSlashedWhole2</string>
    <string>noteheadSlashedDoubleWhole1</string>
    <string>noteheadSlashedDoubleWhole2</string>
    <string>noteheadDiamondDoubleWhole</string>
    <string>noteheadDiamondWhole</string>
    <string>noteheadDiamondHalf</string>
    <string>noteheadDiamondBlack</string>
    <string>noteheadCircledXLarge</string>
    <string>noteheadParenthesisLeft</string>
    <string>noteheadParenthesisRight</string>
    <string>noteheadWholeFilled</string>
    <string>noteheadHalfFilled</string>
    <string>noteheadRoundBlackDoubleSlashed</string>
    <string>noteheadRoundWhiteDoubleSlashed</string>
    <string>noteheadClusterSquareWhite</string>
    <string>noteheadClusterSquareBlack</string>
    <string>noteDoubleWhole</string>
    <string>noteDoubleWholeSquare</string>
    <string>noteWhole</string>
    <string>noteHalfUp</string>
    <string>noteHalfDown</string>
    <string>noteQuarterUp</string>
    <string>noteQuarterDown</string>
    <string>note8thUp</string>
    <string>note8thDown</string>
    <string>note16thUp</string>
    <string>note16thDown</string>
    <string>note32ndUp</string>
    <string>note32ndDown</string>
    <string>note64thUp</string>
    <string>note64thDown</string>
    <string>note128thUp</string>
    <string>note128thDown</string>
    <string>note256thUp</string>
    <string>note256thDown</string>
    <string>note512thUp</string>
    <string>note512thDown</string>
    <string>note1024thUp</string>
    <string>note1024thDown</string>
    <string>augmentationDot</string>
    <string>tremolo1</string>
    <string>tremolo2</string>
    <string>tremolo3</string>
    <string>tremolo4</string>
    <string>tremolo5</string>
    <string>tremoloFingered1</string>
    <string>tremoloFingered2</string>
    <string>tremoloFingered3</string>
    <string>tremoloFingered4</string>
    <string>tremoloFingered5</string>
    <string>buzzRoll</string>
    <string>tremoloDivisiDots2</string>
    <string>tremoloDivisiDots3</string>
    <string>tremoloDivisiDots4</string>
    <string>tremoloDivisiDots6</string>
    <string>oneHandedRollStevens</string>
    <string>doubleLateralRollStevens</string>
    <string>flag8thUp</string>
    <string>flag8thDown</string>
    <string>flag16thUp</string>
    <string>flag16thDown</string>
    <string>flag32ndUp</string>
    <string>flag32ndDown</string>
    <string>flag64thUp</string>
    <string>flag64thDown</string>
    <string>flag128thUp</string>
    <string>flag128thDown</string>
    <string>flag256thUp</string>
    <string>flag256thDown</string>
    <string>flag512thUp</string>
    <string>flag512thDown</string>
    <string>flag1024thUp</string>
    <string>flag1024thDown</string>
    <string>flagInternalUp</string>
    <string>flagInternalDown</string>
    <string>accidentalFlat</string>
    <string>accidentalNatural</string>
    <string>accidentalSharp</string>
    <string>accidentalDoubleSharp</string>
    <string>accidentalDoubleFlat</string>
    <string>accidentalTripleSharp</string>
    <string>accidentalTripleFlat</string>
    <string>accidentalNaturalFlat</string>
    <string>accidentalNaturalSharp</string>
    <string>accidentalSharpSharp</string>
    <string>accidentalParensLeft</string>
    <string>accidentalParensRight</string>
    <string>accidentalBracketLeft</string>
    <string>accidentalBracketRight</string>
    <string>accidentalQuarterToneFlatArrowUp</string>
    <string>accidentalThreeQuarterTonesFlatArrowDown</string>
    <string>accidentalQuarterToneSharpNaturalArrowUp</string>
    <string>accidentalQuarterToneFlatNaturalArrowDown</string>
    <string>accidentalThreeQuarterTonesSharpArrowUp</string>
    <string>accidentalQuarterToneSharpArrowDown</string>
    <string>accidentalFiveQuarterTonesSharpArrowUp</string>
    <string>accidentalThreeQuarterTonesSharpArrowDown</string>
    <string>accidentalThreeQuarterTonesFlatArrowUp</string>
    <string>accidentalFiveQuarterTonesFlatArrowDown</string>
    <string>accidentalArrowUp</string>
    <string>accidentalArrowDown</string>
    <string>accidentalQuarterToneFlatStein</string>
    <string>accidentalThreeQuarterTonesFlatZimmermann</string>
    <string>accidentalQuarterToneSharpStein</string>
    <string>accidentalThreeQuarterTonesSharpStein</string>
    <string>accidentalNarrowReversedFlat</string>
    <string>accidentalNarrowReversedFlatAndFlat</string>
    <string>accidentalBuyukMucennebFlat</string>
    <string>accidentalBakiyeFlat</string>
    <string>accidentalKucukMucennebSharp</string>
    <string>accidentalBuyukMucennebSharp</string>
    <string>articAccentAbove</string>
    <string>articAccentBelow</string>
    <string>articStaccatoAbove</string>
    <string>articStaccatoBelow</string>
    <string>articTenutoAbove</string>
    <string>articTenutoBelow</string>
    <string>articStaccatissimoAbove</string>
    <string>articStaccatissimoBelow</string>
    <string>articStaccatissimoWedgeAbove</string>
    <string>articStaccatissimoWedgeBelow</string>
    <string>articMarcatoAbove</string>
    <string>articMarcatoBelow</string>
    <string>articMarcatoStaccatoAbove</string>
    <string>articMarcatoStaccatoBelow</string>
    <string>articAccentStaccatoAbove</string>
    <string>articAccentStaccatoBelow</string>
    <string>articTenutoStaccatoAbove</string>
    <string>articTenutoStaccatoBelow</string>
    <string>articTenutoAccentAbove</string>
    <string>articTenutoAccentBelow</string>
    <string>articStressAbove</string>
    <string>articStressBelow</string>
    <string>articUnstressAbove</string>
    <string>articUnstressBelow</string>
    <string>articLaissezVibrerAbove</string>
    <string>articLaissezVibrerBelow</string>
    <string>articMarcatoTenutoAbove</string>
    <string>articMarcatoTenutoBelow</string>
    <string>fermataAbove</string>
    <string>fermataBelow</string>
    <string>fermataShortAbove</string>
    <string>fermataShortBelow</string>
    <string>fermataLongAbove</string>
    <string>fermataLongBelow</string>
    <string>fermataVeryLongAbove</string>
    <string>fermataVeryLongBelow</string>
    <string>breathMarkComma</string>
    <string>caesura</string>
    <string>caesuraShort</string>
    <string>caesuraCurved</string>
    <string>caesuraSingleStroke</string>
    <string>restMaxima</string>
    <string>restLonga</string>
    <string>restDoubleWhole</string>
    <string>restWhole</string>
    <string>restHalf</string>
    <string>restQuarter</string>
    <string>rest8th</string>
    <string>rest16th</string>
    <string>rest32nd</string>
    <string>rest64th</string>
    <string>rest128th</string>
    <string>rest256th</string>
    <string>rest512th</string>
    <string>rest1024th</string>
    <string>restQuarterOld</string>
    <string>restDoubleWholeLegerLine</string>
    <string>restWholeLegerLine</string>
    <string>restHalfLegerLine</string>
    <string>restQuarterZ</string>
    <string>repeat1Bar</string>
    <string>repeat2Bars</string>
    <string>repeat4Bars</string>
    <string>repeatBarUpperDot</string>
    <string>repeatBarSlash</string>
    <string>repeatBarLowerDot</string>
    <string>ottava</string>
    <string>ottavaAlta</string>
    <string>ottavaBassa</string>
    <string>ottavaBassaBa</string>
    <string>quindicesima</string>
    <string>quindicesimaAlta</string>
    <string>quindicesimaBassa</string>
    <string>ventiduesima</string>
    <string>ventiduesimaAlta</string>
    <string>ventiduesimaBassa</string>
    <string>octaveParensLeft</string>
    <string>octaveParensRight</string>
    <string>ottavaBassaVb</string>
    <string>quindicesimaBassaMb</string>
    <string>ventiduesimaBassaMb</string>
    <string>octaveBassa</string>
    <string>dynamicPiano</string>
    <string>dynamicMezzo</string>
    <string>dynamicForte</string>
    <string>dynamicRinforzando</string>
    <string>dynamicSforzando</string>
    <string>dynamicZ</string>
    <string>dynamicNiente</string>
    <string>dynamicPPPPPP</string>
    <string>dynamicPPPPP</string>
    <string>dynamicPPPP</string>
    <string>dynamicPPP</string>
    <string>dynamicPP</string>
    <string>dynamicMP</string>
    <string>dynamicMF</string>
    <string>dynamicPF</string>
    <string>dynamicFF</string>
    <string>dynamicFFF</string>
    <string>dynamicFFFF</string>
    <string>dynamicFFFFF</string>
    <string>dynamicFFFFFF</string>
    <string>dynamicFortePiano</string>
    <string>dynamicForzando</string>
    <string>dynamicSforzando1</string>
    <string>dynamicSforzandoPiano</string>
    <string>dynamicSforzandoPianissimo</string>
    <string>dynamicSforzato</string>
    <string>dynamicSforzatoPiano</string>
    <string>dynamicSforzatoFF</string>
    <string>dynamicRinforzando1</string>
    <string>dynamicRinforzando2</string>
    <string>dynamicCrescendoHairpin</string>
    <string>dynamicDiminuendoHairpin</string>
    <string>dynamicMessaDiVoce</string>
    <string>dynamicNienteForHairpin</string>
    <string>graceNoteAcciaccaturaStemUp</string>
    <string>graceNoteAcciaccaturaStemDown</string>
    <string>graceNoteAppoggiaturaStemUp</string>
    <string>graceNoteAppoggiaturaStemDown</string>
    <string>graceNoteSlashStemUp</string>
    <string>graceNoteSlashStemDown</string>
    <string>ornamentTrill</string>
    <string>ornamentTurn</string>
    <string>ornamentTurnInverted</string>
    <string>ornamentTurnSlash</string>
    <string>ornamentTurnUp</string>
    <string>ornamentTurnUpS</string>
    <string>ornamentShortTrill</string>
    <string>ornamentMordent</string>
    <string>ornamentTremblement</string>
    <string>ornamentHaydn</string>
    <string>ornamentPortDeVoixV</string>
    <string>ornamentRightFacingHalfCircle</string>
    <string>ornamentLeftFacingHalfCircle</string>
    <string>ornamentRightFacingHook</string>
    <string>ornamentLeftFacingHook</string>
    <string>ornamentHookBeforeNote</string>
    <string>ornamentHookAfterNote</string>
    <string>ornamentDownCurve</string>
    <string>ornamentShortObliqueLineBeforeNote</string>
    <string>ornamentShortObliqueLineAfterNote</string>
    <string>ornamentObliqueLineBeforeNote</string>
    <string>ornamentObliqueLineAfterNote</string>
    <string>ornamentDoubleObliqueLinesBeforeNote</string>
    <string>ornamentDoubleObliqueLinesAfterNote</string>
    <string>ornamentObliqueLineHorizBeforeNote</string>
    <string>ornamentObliqueLineHorizAfterNote</string>
    <string>ornamentShake3</string>
    <string>ornamentVerticalLine</string>
    <string>ornamentShakeMuffat1</string>
    <string>ornamentSchleifer</string>
    <string>ornamentPinceCouperin</string>
    <string>ornamentLowLeftConcaveStroke</string>
    <string>ornamentZigZagLineNoRightEnd</string>
    <string>ornamentZigZagLineWithRightEnd</string>
    <string>ornamentPrecompAppoggTrill</string>
    <string>ornamentPrecompSlideTrillDAnglebert</string>
    <string>ornamentPrecompSlideTrillBach</string>
    <string>ornamentPrecompTrillSuffixDandrieu</string>
    <string>ornamentPrecompPortDeVoixMordent</string>
    <string>ornamentPrecompTrillWithMordent</string>
    <string>ornamentPrecompCadence</string>
    <string>ornamentPrecompDoubleCadenceLowerPrefix</string>
    <string>ornamentPrecompDoubleCadenceUpperPrefix</string>
    <string>ornamentPrecompMordentUpperPrefix</string>
    <string>ornamentPrecompInvertedMordentUpperPrefix</string>
    <string>ornamentPrecompTrillLowerSuffix</string>
    <string>brassMuteClosed</string>
    <string>brassMuteHalfClosed</string>
    <string>brassMuteOpen</string>
    <string>brassHarmonMuteClosed</string>
    <string>brassHarmonMuteStemHalfLeft</string>
    <string>brassHarmonMuteStemHalfRight</string>
    <string>brassHarmonMuteStemOpen</string>
    <string>brassValveTrill</string>
    <string>stringsDownBow</string>
    <string>stringsDownBowTurned</string>
    <string>stringsUpBow</string>
    <string>stringsUpBowTurned</string>
    <string>stringsHarmonic</string>
    <string>stringsHalfHarmonic</string>
    <string>pluckedSnapPizzicatoBelow</string>
    <string>pluckedSnapPizzicatoAbove</string>
    <string>pluckedBuzzPizzicato</string>
    <string>keyboardPedalPed</string>
    <string>keyboardPedalP</string>
    <string>keyboardPedalE</string>
    <string>keyboardPedalD</string>
    <string>keyboardPedalDot</string>
    <string>keyboardPedalUp</string>
    <string>keyboardPedalParensLeft</string>
    <string>keyboardPedalParensRight</string>
    <string>harpPedalRaised</string>
    <string>harpPedalCentered</string>
    <string>harpPedalLowered</string>
    <string>harpPedalDivider</string>
    <string>csymDiminished</string>
    <string>csymHalfDiminished</string>
    <string>csymAugmented</string>
    <string>csymMajorSeventh</string>
    <string>tuplet0</string>
    <string>tuplet1</string>
    <string>tuplet2</string>
    <string>tuplet3</string>
    <string>tuplet4</string>
    <string>tuplet5</string>
    <string>tuplet6</string>
    <string>tuplet7</string>
    <string>tuplet8</string>
    <string>tuplet9</string>
    <string>tupletColon</string>
    <string>mensuralNoteheadMinimaWhite</string>
    <string>mensuralNoteheadSemiminimaWhite</string>
    <string>ornamentQuilisma</string>
    <string>ornamentOriscus</string>
    <string>wiggleTrill</string>
    <string>wiggleArpeggiatoUp</string>
    <string>wiggleArpeggiatoDown</string>
    <string>wiggleArpeggiatoUpArrow</string>
    <string>wiggleArpeggiatoDownArrow</string>
    <string>metNoteDoubleWhole</string>
    <string>metNoteWhole</string>
    <string>metNoteHalfUp</string>
    <string>metNoteQuarterUp</string>
    <string>metNote8thUp</string>
    <string>metNote16thUp</string>
    <string>metNote32ndUp</string>
    <string>metAugmentationDot</string>
    <string>fingering0</string>
    <string>fingering1</string>
    <string>fingering2</string>
    <string>fingering3</string>
    <string>fingering4</string>
    <string>fingering5</string>
    <string>fingering6</string>
    <string>fingering7</string>
    <string>fingering8</string>
    <string>fingering9</string>
    <string>fingering0Italic</string>
    <string>fingering1Italic</string>
    <string>fingering2Italic</string>
    <string>fingering3Italic</string>
    <string>fingering4Italic</string>
    <string>fingering5Italic</string>
    <string>fingering6Italic</string>
    <string>fingering7Italic</string>
    <string>fingering8Italic</string>
    <string>fingering9Italic</string>
    <string>uniF400</string>
    <string>uniF401</string>
    <string>uniF402</string>
    <string>uniF403</string>
    <string>uniF40E</string>
    <string>uniF40F</string>
    <string>uniF411</string>
    <string>uniF412</string>
    <string>uniF414</string>
    <string>uniF415</string>
    <string>uniF417</string>
    <string>uniF418</string>
    <string>uniF41A</string>
    <string>uniF41B</string>
    <string>uniF41D</string>
    <string>uniF41E</string>
    <string>uniF420</string>
    <string>uniF421</string>
    <string>uniF423</string>
    <string>uniF424</string>
    <string>uniF426</string>
    <string>uniF434</string>
    <string>uniF440</string>
    <string>uniF441</string>
    <string>uniF442</string>
    <string>uniF443</string>
    <string>uniF444</string>
    <string>uniF445</string>
    <string>uniF446</string>
    <string>uniF447</string>
    <string>uniF448</string>
    <string>uniF449</string>
    <string>uniF4BA</string>
    <string>uniF506</string>
    <string>uniF507</string>
    <string>uniF508</string>
    <string>uniF509</string>
    <string>uniF50A</string>
    <string>uniF50B</string>
    <string>uniF50C</string>
    <string>uniF50D</string>
    <string>uniF50E</string>
    <string>uniF50F</string>
    <string>uniF5DD</string>
    <string>uniF5DE</string>
    <string>uniF5DF</string>
    <string>uniF5E0</string>
    <string>uniF5E1</string>
    <string>uniF630</string>
    <string>uniF631</string>
  </array>
</dict>
</plist>
